<!doctype html>
<html>

<head>
    <title>Stacked Bar Chart with Groups</title>

    {% load staticfiles %}


    <script src="{% static 'primeExchange/js/Chart.bundle.js' %}" ></script>
    <script src="{% static 'primeExchange/js/utils.js' %}" ></script>

    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>
    <center>
    <div style="width: 75%">
        <canvas id="canvas"></canvas>
    </div>
  </center>
    <script>

        var barChartData = {
            labels: ["Week 1", "Week 2", "Week 3", "Week 4"],
            datasets: [{
                label: 'Average Pharma',
                backgroundColor: window.chartColors.red,
                stack: 'Stack 0',
                data: [
                  {{ week1.avg_pharma }},
                  {{ week2.avg_pharma }},
                  {{ week3.avg_pharma }},
                  {{ week4.avg_pharma }}


                ]
            }, {
                label: 'Average Lab',
                backgroundColor: window.chartColors.blue,
                stack: 'Stack 0',
                data: [
                  {{ week1.avg_lab }},
                  {{ week2.avg_lab }},
                  {{ week3.avg_lab }},
                  {{ week4.avg_lab }}
                ]
            }, {
                label: 'Average Radiology',
                backgroundColor: window.chartColors.green,
                stack: 'Stack 0',
                data: [
                    {{ week1.avg_rad }},
                    {{ week2.avg_rad }},
                    {{ week3.avg_rad }},
                    {{ week4.avg_rad }}

                ]
            }, {
                label: 'Actual Pharma',
                backgroundColor: window.chartColors.orange,
                stack: 'Stack 1',
                data: [
                    {{ week1.act_pharma }},
                    {{ week2.act_pharma }},
                    {{ week3.act_pharma }},
                    {{ week4.act_pharma }}

                ]
            }, {
                label: 'Actual Lab',
                backgroundColor: window.chartColors.purple,
                stack: 'Stack 1',
                data: [
                    {{ week1.act_lab }},
                    {{ week2.act_lab }},
                    {{ week3.act_lab }},
                    {{ week4.act_lab }}

                ]
            },  {
                label: 'Actual Radiology',
                backgroundColor: window.chartColors.yellow,
                stack: 'Stack 1',
                data: [
                    {{ week1.act_rad }},
                    {{ week2.act_rad }},
                    {{ week3.act_rad }},
                    {{ week4.act_rad }}

                ]
            }
          ]
        };
        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    legend:{
                        display:true,
                        labels:
                          {fontSize:20
                          }
                    },

                    title:{
                        fontSize: 20,
                        display:true,
                        text:"PRIME REPORT"

                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                            ticks:
                            {
                              fontSize:30
                            }
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                }
            });
        };

    </script>
  </center>
</body>

</html>
